{% extends "base.html" %}

{% block content %}
<style>
.post-detail {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.post-image img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-description {
    margin-top: 20px;
}

.post-comments {
    margin-top: 20px;
}

.comment-author {
    font-weight: bold;
}

.comment-text {
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

</style>
{% load static %}

<div class="post-detail">
    <div class="post-image">
        <img src="{{ post.image.url }} " alt="not loading">
    </div>
    <div class="post-description">
        <p>{{ post.description }}</p>
    </div>
    <div class="post-comments">
        <h2>Commentaires</h2>
        <ul>
            {% for comment in comments %}
            <li>
                <div class="comment-text">{{ comment.content }} </div>
                <a href="{% url 'edit_comment' comment.id %}">Modifier</a>
                <a href="{% url 'delete_comment' comment.id %}">Supprimer</a>
            </li>
            {% endfor %}
            <!-- Ajoutez d'autres commentaires ici -->
        </ul>
    </div>
    <div class="column is-one-third">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-success is-fullwidth is-medium mt-5" type="submit">Envoyer</button>
        </form>
    </div>
</div>

{% endblock %}
